<!DOCTYPE html>
<html>
<head>
   {% block title %}
   <title>Flashlight — Do anything with Spotlight</title>
   {% endblock %}
   {% block head %}
   
   {% endblock %}
   <link rel='stylesheet' href='/static/base.css'/>
   <link rel="shortcut icon" href="/static/images/Icon-inverted-red.png"/>
</head>
<body>
   <div id='top'>
      <div id='top-content'>
         <a href='/'>
            <img src='/static/images/Icon-inverted.png'/>
            Flashlight
         </a>
         <a href='/browse'>
            <span class='fa fa-puzzle-piece'></span>
            Browse Plugins
         </a>
         <a href='https://github.com/nate-parrott/Flashlight#flashlight'>
            <span class='fa fa-github'></span>
            Developers
         </a>
         <a href='/latest_download'>
            <span class='fa fa-download'></span>
            Download
         </a>
      </div>
   </div>
   <div id='content'>
      {% block body %}
      {% endblock %}
   </div>
</body>
</html>
