{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel='stylesheet' href='/static/index.css' />
{% endblock %}

{% block outside_content %}

<div id='splash'>
   <div>
		 	<img class='main' src='/static/images/large/weather.png'/>
			<h2>Add over 120 plugins to OS X's Spotlight search box. Check the weather, search the web, send an iMessage, find an emoji, and more.</h2>
      <p class='small'>For OS X Yosemite. Completely open-source. No crazy installer. Uninstall with one click.</p>
      <p>
         <a id='download' href='/latest_download'>
            <span class='fa fa-download'></span>
            Download <span class='beta'>beta</span>
         </a>
      </p>
   </div>
</div>

{% endblock %}

{% block body %}

<div id='index'>
   
   <div id='images'>
      <img src='/static/images/note.png'/>
      <img src='/static/images/reminder.png'/>
      <p><q>Flashlight extends OS X’s Spotlight in a great direction</q> <cite><a href='http://thenextweb.com/apps/2014/11/12/flashlight-os-xs-yosemite-spotlight/'>The Next Web</a></cite></p>
      <img src='/static/images/email.png'/>
      <img src='/static/images/ping.png'/>
      <p><q>Spotlight on steroids</q> <cite><a href='http://www.cnet.com/how-to/flashlight-puts-os-x-yosemites-spotlight-feature-on-steroids/'>CNET</a></cite></p>
      <img src='/static/images/translate.png'/>
      <img src='/static/images/wolfram.png'/>
      <p><q>a glimpse of what an extendable Spotlight for Yosemite could be</q> <cite><a href='http://www.macstories.net/mac/flashlight-extends-os-x-yosemites-spotlight-with-plugins/'>Macstories</a></cite></p>
      <img src='/static/images/imessage.png'/>
      <img src='/static/images/images.png'/>
   </div>   
</div>

{% endblock %}

{% block footer %}
<div id='footer-container'>
<div id='footer'>
   <p id='footer-links'>
      <a href='/latest_download'>
         <span class='fa fa-download'></span>
         <strong>Download</strong> for OS X Yosemite
      </a>
      <a href='/browse'>
         <span class='fa fa-puzzle-piece'></span>
         <strong>Browse</strong> all plugins
      </a>
      <a href='https://github.com/nate-parrott/Flashlight/wiki/Creating-a-Plugin'>
         <span class='fa fa-file-code-o'></span>
         <strong>Develop</strong> a plugin
      </a>
   </p>
   
   <div id='social'>
      <div>
         <div id="fb-root"></div>
         <script>(function(d, s, id) {
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) return;
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=385205984962960&version=v2.0";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));</script>
         <div class="fb-like" data-href="http://flashlight.nateparrott.com" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
      </div>
      
      <div>
   		<iframe data-wr_replaced="true" frameborder="0" height="20" scrolling="0" style="" src="http://ghbtns.com/github-btn.html?user=nate-parrott&amp;repo=Flashlight&amp;type=watch&amp;count=true" width="95" allowtransparency="true"></iframe>
      </div>
      
      <div>
         <a href="https://twitter.com/share" class="twitter-share-button" data-related="itsflashlight">Tweet</a>
      </div>
			
	 	 <div>
	 		 <a href="https://twitter.com/itsflashlight" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @itsflashlight</a>
	 		 <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	 	 </div>
   </div>
	 
   <p>
      By <a href='http://nateparrott.com'>Nate Parrott</a> and <a href='https://github.com/nate-parrott/Flashlight/graphs/contributors'>many others.</a>
   </p>
</div>
</div>
{% endblock %}
